.container {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: row ;
  justify-content: center;
  position: sticky;
  align-items: center;
}
.main {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.gradientText {
  background: -webkit-linear-gradient(#b4b3b4, #454546, #868586);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText1 {
  background: -webkit-linear-gradient(#a79af9, #7aa8d2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText2 {
  background: -webkit-linear-gradient(#bfa3da, #743f93);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText3 {
  background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 20px;
  margin-bottom: 20px;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  text-decoration-color: #84309c;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: left;
}

.connect {
  margin-bottom: 2rem;
}

.description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #555;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1rem;
}

.grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #131313;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 440px;
  overflow: none;
  border: none;
}

.cardText {
  padding: 1rem;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #272c34;
  opacity: 80%;
}

.card h2 {
  margin: 0 0 0.75rem 0;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .header {
    margin-left: 0;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .title {
    font-size: 3rem;
    line-height: 1.15;
  }
}

.card,
.footer {
  border-color: #222;
}
.logo img {
  filter: invert(1);
}

@keyframes fadeInAnimation {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.connectedAddress {
  text-align: center;
  background-color: #ffffff09;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  margin-bottom: 10px;
  color: #fff;
  font-size: 0.5rem;
  border: 1px solid #222;
  width: 100%;
}
.connectedAddress2 {
  text-align: center;
  background-color: #ffffff00;
  border-radius: 10px;
  padding: 0.75rem 1rem;
  margin-bottom: 10px;
  color: #fff;
  font-size: 0.75rem;
  width: 100%;
}
.statusText {
  text-align: left;
  text-decoration: none;
  border-radius: 20px;
  overflow: none;
  padding: 0 1rem 0 1rem;
  margin: 40px 0 40px 0;
  font-size: 14px;
}
.updateButton {
  background-color: #ffffff00;
  border: none;
  border-radius: 10px;
  padding: 0.75rem 1rem;
  height: 40px;
  color: #fff;
  cursor: pointer;
  font-size: 0.85rem;
  width: 20%;
  transition: all 0.25s ease;
}
.updateButton:hover {
  background-color: #272c34;
  opacity: 80%;
}
.NavbarMiddle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-size: 10px;
  justify-content: center;
  justify-items: center;
  background-color: #ffffff00;

}
.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-size: 10px;
  justify-content: center;
  justify-items: center;
  background-color: #141414;
}
.NavbarLeft {
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 100%;
  margin-left: 30px;
  justify-content: left;
  justify-items: left;
  background-color: #ffffff00;
}
.NavbarRight {
  display: flex;
  flex-direction: row;
  align-items: right;
  width: 100%;
  font-size: 12px;
  margin-right: 30px;
  justify-content: right;
  justify-items: right;
  background-color: #ffffff00;
}
.footerMiddle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-size: 10px;
  gap: 20px;
  justify-content: center;
  justify-items: center;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  font-size: 10px;
  margin-top: 50px;
  justify-content: center;
  justify-items: center;
  background-color: #141414;
}


.footerMiddle2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 10px;
  justify-content: center;
  justify-items: center;
}

.statusContainer {
  text-align: center;
  background-color: #ffffff00;
  border-radius: 10px;
  padding: 1rem;
  max-width: 650px;
  width: 100%;
  position: sticky;
  margin-bottom: 20px;
}
.statusContainer2 {
  text-align: center;
  justify-content: center;
  justify-items: center;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  min-width: 800px;
  
}
.statusHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.userContainer {
  text-align: center;
  background-color: #13131334;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 30px;
  width: 100%;
  position: sticky;
  top: 0;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.75);
}
.statusModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1rem;
  margin: 0 0 1rem 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  backdrop-filter: blur(5px);
}
.statusModal {
  background-image: linear-gradient(to bottom, #141414, #141414);
  border-radius: 10px;
  padding: 20px 20px 50px 20px;
  margin: 0 0 1rem 0;
  z-index: 100;
  border: 1px solid #6664662c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  animation: fadeInAnimation 0.5s forwards;
}
.statusModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.statusModalHeader button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 0.75rem;
  cursor: pointer;
}
.statusModal textarea {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  background-color: #7471711e;
  color: #e2dada;
  padding: 1.5rem;
  border: none;
  resize: none;
  margin-bottom: 20px;
  font-size: 16px;
}
.characterCountContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: -20px;
}
.characterCountContainer p {
  display: flex;
  text-align: right;
  font-size: 0.75rem;
  margin-bottom: 20px;
}
.characterCountUnder {
  color: #fff;
}
.characterCountOver {
  color: #424040;
}
.statusModalButton {
  background-color: #222 !important;
  border-radius: 10px !important;
  padding: 0.5rem !important;
  margin: 10px 0 !important;
  width: 100% !important;
  height: 40px !important;
  color: #fff !important;
  cursor: pointer !important;
  font-size: 0.85rem !important;

  transition: all 0.25s ease !important;
}
.statusModalButton:hover {
  background-color: #272c34 !important;
  opacity: 80% !important;
}
.eventCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: #d2d3d417 0px 5px 10px 0px;
  transition: color 0.15s ease, border-color 0.15s ease;
  overflow: none;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #2222223f;
  width: 100%;
}
.eventHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 10px;
  border-radius: 10px;
}
.eventHeader2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px;
  font-size: 14px;
  border-radius: 20px;
  background-color: #1313137e;
}

.pageLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.pageLoading div {
  height: 64px;
  width: 64px;
}
.sectionLoading {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}
.logoutButton {
  background-color: #222;
  border: 1px solid #ee626283;
  border-radius: 16px;
  padding: 5px 30px 5px 30px;
  height: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 0.75rem;

  transition: all 0.25s ease;
}
.logoutButton:hover {
  background-color: #ee6262;
  opacity: 80%;
}